## Yucatan Peninsula Hurricanes
Week 4 - Discussion section

**Description:** This data set explores the ecological impacts of hurricanes of the Yucatan Peninsula from 1851 - 2000. Computer modeling was used for analysis.

**Citation:** Boose, E. and D. Foster. 2023. Ecological Impacts of Hurricanes Across the Yucatan Peninsula 1851-2000 ver 23. Environmental Data Initiative. https://doi.org/10.6073/pasta/f219113373913f2daf421732e28d3c38 (Accessed 2025-10-24).

**Date of Access:** 10/24/2025

**Link:** https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-hfr.71.23

### 2. Data loading and preliminary exploration

In [1]:
import pandas as pd

# Saving dataset url for import
URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-hfr/71/23/ab0fe2bf4f3ad850371ccb9c69d78469"

hurr = pd.read_csv(URL)

In [2]:
# Access head
hurr.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

In [3]:
# Checking for NA values
hurr.isna().sum()

code           0
start.date     0
end.date       0
number         0
name          72
ss             0
track          0
rf.max         0
dtype: int64

In [5]:
# Dimensions of df
hurr.shape

(105, 8)

In [8]:
# Data types of columns and number of non-null values 
hurr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        105 non-null    object
 1   start.date  105 non-null    object
 2   end.date    105 non-null    object
 3   number      105 non-null    int64
 4   name        33 non-null     object
 5   ss          105 non-null    int64
 6   track       105 non-null    object
 7   rf.max      105 non-null    object
dtypes: int64(2), object(6)
memory usage: 6.7+ KB