## 1. Data loading and exploration

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [3]:
# Import countries polygons
fp = os.path.join('data','ne_50m_admin_0_countries','ne_50m_admin_0_countries.shp')
countries = gpd.read_file(fp)

# Simplify column names
countries.columns = countries.columns.str.lower()

# Select columns fo analysis
countries = countries[['admin', 'type', 'geometry']]
countries.head(3)

,admin,type,geometry
0,Zimbabwe,Sovereign country,"POLYGON ((31.28789 -22.40205, 31.19727 -22.344..."
1,Zambia,Sovereign country,"POLYGON ((30.39609 -15.64307, 30.25068 -15.643..."
2,Yemen,Sovereign country,"MULTIPOLYGON (((53.08564 16.64839, 52.58145 16..."

In [7]:
df = gpd.read_file("data/arctic_communities.geojson")
df.head()

,admin,country,n_communities,geometry
0,United States of America,US,115,"MULTIPOLYGON (((-132.74687 56.52568, -132.7576..."
1,United Kingdom,GB,96,"MULTIPOLYGON (((-2.66768 51.62300, -2.74214 51..."
2,Sweden,SE,133,"MULTIPOLYGON (((19.07646 57.83594, 18.99375 57..."
3,Russia,RU,774,"MULTIPOLYGON (((145.88154 43.45952, 145.89561 ..."
4,Norway,NO,48,"MULTIPOLYGON (((20.62217 69.03687, 20.49199 69..."

## 2. Check Geometry Types

In [15]:
# Define a function to inspect geometry types of features in GeoDataFrame

def check_polygons(gdf):
    geom_types = gdf.geom_type.unique()
    if len(geom_types) > 1:
        print("Multiple feature types:", geom_types)
    else:
        print("All features are:", geom_types[0])
        
check_polygons(df)

Multiple feature types: ['MultiPolygon' 'Polygon']

## 3. Explode Polygons

The .explode() method takes multipolygons and separates them into individual polygons (multiple single geometries).

**Parameters:**

`ignore_index`
bool, default False
If True, the resulting index will be labelled 0, 1, â€¦, n - 1, ignoring index_parts.

`index_parts`
boolean, default False
If True, the resulting index will be a multi-index (original index with an additional level indicating the multiple geometries: a new zero-based index for each single part geometry per multi-part geometry).

In [18]:
# "Exploding" our data frame avoiding the multi-part index, and resetting index to run from 1 through n again
df = df.explode(index_parts = False).reset_index()

In [19]:
# Checking that exploding words with our new function
check_polygons(df)

All features are: Polygon